Repository TSI-Projects/group-project, pull requests merged in 2024-09, with the labels that each got.

#1 chore(devops): add .gitignore
  devops/.gitignore
Labels: devops

#18 refactor(devops): refactor helm charts
  devops/helm-charts/go-server/.helmignore
  devops/helm-charts/go-server/Chart.yaml
  devops/helm-charts/go-server/charts/postgres-cluster/.helmignore
  devops/helm-charts/go-server/charts/postgres-cluster/Chart.yaml
  devops/helm-charts/go-server/charts/postgres-cluster/templates/_helpers.tpl
  devops/helm-charts/go-server/charts/postgres-cluster/templates/cluster.yaml
  devops/helm-charts/go-server/charts/postgres-cluster/templates/configmap.yaml
  devops/helm-charts/go-server/charts/postgres-cluster/templates/secret.yaml
  devops/helm-charts/go-server/charts/postgres-cluster/values.yaml
  devops/helm-charts/go-server/templates/_helpers.tpl
  devops/helm-charts/go-server/templates/deployment.yaml
  devops/helm-charts/go-server/templates/ingress.yaml
  devops/helm-charts/go-server/templates/service.yaml
  devops/helm-charts/go-server/values.yaml
  devops/helm-charts/go/templates/deployment.yaml
  devops/helm-charts/postgres/templates/.helmignore
  devops/helm-charts/postgres/templates/cluster.yaml
Labels: devops

#16 Add basic server logic
  backend/cmd/app/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers.go
  backend/internal/api/routes.go
  backend/internal/config/server_config.go
Labels: backend

#22 docs(main): add license reference to main README.md
  README.md
Labels: documentation

#21 docs(devops): add docs
  devops/README.md
  devops/readme.md
Labels: documentation, devops

#20 refactor(devops): refactor build scripts
  backend/Dockerfile
  backend/build_docker_image.py
  devops/builder/builder.py
  devops/builder/commands/app.py
  devops/builder/commands/dependencies.py
  devops/builder/commands/go_server.py
  devops/builder/commands/postgres_cluster.py
  devops/builder/support/constants.py
  devops/builder/support/path.py
  devops/deploy-scripts/deploy.py
  devops/deploy-scripts/deploy_local.py
  devops/deploy-scripts/destroy.py
  devops/deploy-scripts/destroy_local.py
  devops/deploy-scripts/install_dependencies.py
  devops/deploy-scripts/requirements.txt
Labels: devops

#24 Add PostgreSQL database connection setup
  backend/Dockerfile
  backend/cmd/app/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/config/postgres_config.go
  backend/internal/config/server_config.go
  backend/internal/db/db.go
  backend/utils/env.go
Labels: backend

#26 fix(devops): fix postgres helm config
  devops/helm-charts/go-server/charts/postgres-cluster/values.yaml
Labels: devops
