Repository TSI-Projects/group-project, pull requests merged in 2024-10, with the labels that each got.

#28 Refactor backend structure
  backend/cmd/app/main.go
  backend/internal/api/handlers/handler.go
  backend/internal/api/handlers/order.go
  backend/internal/api/routes.go
  backend/internal/api/routes/routes.go
  backend/internal/config/server_config.go
  backend/internal/db/config.go
  backend/internal/db/db.go
  backend/internal/db/interface.go
  backend/internal/server/interface.go
  backend/internal/server/server.go
Labels: backend, refactor

#29 feat(devops): Expose `containerPort` to values.yaml
  backend/Dockerfile
  backend/build_docker_image.py
  devops/helm-charts/go-server/templates/deployment.yaml
  devops/helm-charts/go-server/values.yaml
Labels: devops

#34 fix(devops): fix cluster post init configmaps
  devops/helm-charts/go-server/charts/postgres-cluster/templates/cluster.yaml
  devops/helm-charts/go-server/charts/postgres-cluster/templates/configmap.yaml
Labels: devops

#33 fix(devops): fix database `init.sql`
  devops/helm-charts/go-server/charts/postgres-cluster/init.sql
Labels: devops

#32 feat(devops): add `pgadmin4` deployment for local testing
  devops/deploy-scripts/deploy_pgadmin4.py
Labels: devops

#35 fix(devops): remove extra comma
  devops/helm-charts/go-server/charts/postgres-cluster/init.sql
Labels: devops

#36 fix(devops): fix typo
  devops/helm-charts/go-server/charts/postgres-cluster/init.sql
Labels: devops

#37 Add API and DB methods for order table
  backend/internal/api/handlers/order.go
  backend/internal/db/db.go
  backend/internal/db/interface.go
  backend/internal/repository/order.go
  backend/internal/repository/repo.go
Labels: backend

#40 Replace direct exec command with transaction handling
  backend/internal/repository/order.go
Labels: backend, bug

#41 Add API and DB methods for order_type table
  backend/internal/api/handlers/order_type.go
  backend/internal/repository/order_type.go
Labels: backend

#43 Add API and DB methods for workers table
  backend/internal/api/handlers/worker.go
  backend/internal/repository/worker.go
Labels: backend

#42 Add API and DB methods for language table
  backend/internal/api/handlers/language.go
  backend/internal/repository/languages.go
Labels: backend

#44 Update handler to store repository interfaces
  backend/internal/api/handlers/handler.go
Labels: backend

#46 Add API routes for orders, workers, languages, and their types
  backend/internal/api/routes/routes.go
Labels: backend

#47 Change OrderStatus struct fields to appropriate types to prevent crashes
  backend/internal/repository/order_status.go
Labels: backend, bug

#45 Add response structure
  backend/internal/models/responses/response.go
Labels: backend

#53 Add JSON tags to database entity structs
  backend/internal/repository/admins.go
  backend/internal/repository/customer.go
  backend/internal/repository/order.go
  backend/internal/repository/order_status.go
Labels: backend

#54 Add basic API documentation for endpoints
  backend/readme.md
Labels: backend, documentation

#56 Implement unified repository interface to improve maintainability
  backend/internal/api/handlers/handler.go
  backend/internal/api/handlers/language.go
  backend/internal/api/handlers/order.go
  backend/internal/api/handlers/order_type.go
  backend/internal/api/handlers/worker.go
  backend/internal/repository/interface.go
  backend/internal/repository/languages.go
  backend/internal/repository/order.go
  backend/internal/repository/order_type.go
  backend/internal/repository/worker.go
Labels: backend, refactor

#55 Add validator for required fields in requested data
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/handler.go
  backend/internal/api/handlers/language.go
  backend/internal/api/handlers/order.go
  backend/internal/api/handlers/order_type.go
  backend/internal/api/handlers/worker.go
  backend/internal/repository/customer.go
  backend/internal/repository/languages.go
  backend/internal/repository/order.go
  backend/internal/repository/order_status.go
  backend/internal/repository/order_type.go
  backend/internal/repository/worker.go
  backend/pkg/validation/validation.go
  backend/utils/strings.go
Labels: backend, refactor

#57 Refactor database client wrapper to reduce overhead
  backend/internal/db/db.go
  backend/internal/db/interface.go
  backend/internal/repository/languages.go
  backend/internal/repository/order.go
  backend/internal/repository/order_type.go
  backend/internal/repository/worker.go
Labels: backend, refactor

#58 Add new endpoints to update and get item by ID for all DB entities
  backend/internal/api/handlers/customer.go
  backend/internal/api/handlers/handler.go
  backend/internal/api/handlers/language.go
  backend/internal/api/handlers/order.go
  backend/internal/api/handlers/order_type.go
  backend/internal/api/handlers/worker.go
  backend/internal/api/routes/routes.go
  backend/internal/db/db.go
  backend/internal/db/interface.go
  backend/internal/repository/customer.go
  backend/internal/repository/languages.go
  backend/internal/repository/order.go
  backend/internal/repository/order_status.go
  backend/internal/repository/order_type.go
  backend/internal/repository/worker.go
Labels: backend

#3 Add UI/UX layout
  design/sketch/README.md
  design/sketch/images/authorization.png
  design/sketch/images/create_order.png
  design/sketch/images/main_menu.png
  design/sketch/images/managing_types.png
  design/sketch/images/managing_workers.png
  design/sketch/images/menu.png
  design/sketch/images/orders.png
  design/sketch/sketch.jam
Labels: frontend

#59 Add DB Schema documentation
  database/DB Schema.jam
  database/README.md
  database/images/admins.png
  database/images/customers.png
  database/images/full.png
  database/images/languages.png
  database/images/order_statuses.png
  database/images/order_types.png
  database/images/orders.png
  database/images/workers.png
  database/readme.md
Labels: documentation
